html * {
    font-family: 'Hind Siliguri', sans-serif !important;
}

.imgPerfil {
    padding-top: 10px;
    background-color: #8C3AEE;
}

.bg-violeta:hover {
    background-color: #8C3AEE;
}

.color-violeta-claro {
    color: #BB86FC;
}

.color-violeta-oscuro {
    color: #8C3AEE;
}

.fuenteTitulo {
    font-family: 'Merriweather Sans', sans-serif !important;
}

.fuenteSubTitulo{
    font-family: 'Maitree', serif !important;
}

h1.fuenteTitulo {
    font-size: 6rem;
}

h1 + p {
    font-size: 2.5rem;
}

.linkCompetencias:visited, .linkCompetencias:hover, .linkCompetencias:active, .linkCompetencias {
    color: #8C3AEE;
    text-decoration: none;
}

.card {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

a.active {
    background-color: #8C3AEE !important;
}

#btnEnviarMensaje {
    position: fixed;
    bottom: 3rem;
    right: 2rem;
    width: 4.5rem;
    height: 4.5rem;
}
.mensajeEnviarMensaje {
    position: fixed;
    bottom: 4rem;
    right: 8rem;
}

.alert {
    position: fixed;
    top: 4rem;
    right: 2rem;
}


@media only screen and (max-width: 700px) {

    h1.fuenteTitulo { 
       font-size: 4rem; 
    }
 
    h1 + p {
        font-size: 1.5rem;
    }

    div.ml-5 {
        margin-left: 0.5rem !important;
    }

    #tituloCompetencias {
        margin: 0px !important;
        padding: 0px !important;
        text-align: center !important;
    }
    
}

@media only screen and (max-width: 1400px) and (min-width: 992px){
    .navSpacing {
        width: 100% !important;
        margin-left: 0px !important;
        margin-right: 0px !important;
        /* font-size: 1rem !important; */
    }
}

@media only screen and (max-width: 500px) {
    .linkCompetencias {
        margin-left: 0px !important;
        padding: 0rem 0.5rem 0rem 0.5rem !important;
    }
}